<div class="eo">
   <h1 style="text-align: center;">Estadísticas</h1>
      <div>
        <ul>
        <li>Asistencias por partido:  {{ careerSumary?.apg }}</li>
        <li>Asistencias totales:  {{ careerSumary?.assists }}</li>
        <li>Bloqueos totales:  {{ careerSumary?.blocks }}</li>
        <li>Bloques por partido:  {{ careerSumary?.bpg }}</li>
        <li>Dobles dobles carrera:  {{ careerSumary?.dd2 }}</li>
        <li>Rebotes Defensivos:  {{ careerSumary?.defReb }}</li>
        <li>Tiros intentados:  {{ careerSumary?.fga }}</li>
        <li>Tiros acertados:  {{ careerSumary?.fgm }}</li>
        <li>Porcentaje de tiros:  {{ careerSumary?.fgp }}</li>
        <li>Tiros libres intentados:  {{ careerSumary?.fta }}</li>
        <li>Tiros libres acertados:  {{ careerSumary?.ftm }}</li>
        <li>Porcentaje de tiros libres:  {{ careerSumary?.ftp }}</li>
        <li>Partidos jugados:  {{ careerSumary?.gamesPlayed }}</li>
        <li>Juegos como títular:  {{ careerSumary?.gamesStarted }}</li>
        <li>Minutos totales jugados:  {{ careerSumary?.min }}</li>
        <li>Minutos por juego:  {{ careerSumary?.mpg }}</li>
        <li>Rebotes ofensivos:  {{ careerSumary?.offReb }}</li>
        <li>Porcentaje de faltas:   {{ careerSumary?.pFouls }}</li>
        <li>+/-:  {{ careerSumary?.plusMinus }}</li>
        <li>Puntos totales:  {{ careerSumary?.points }}</li>
        <li>Robos totales:  {{ careerSumary?.steals }}</li>
      </ul>
      </div>
</div>
