<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="fondo">
      <div class="divBanner">
        <a routerLink="/inicio"
          ><img
            class="banner"
            src="../../../assets/banner.png"
            alt="NBA Players"
        /></a>
      </div>
    </div>
    <div class="equipo">
      <a routerLink="/teams"
        ><div class="teams">
          <div id="species" class="card__img card__img--top">
            <img
              class="teams-image"
              src="https://as01.epimg.net/baloncesto/imagenes/2017/09/02/nba/1504356281_791334_1505505334_noticia_normal_recorte1.jpg"
            />
            <span class="name"
              >Equipos</span
            >
          </div>
        </div>
      </a>

      <a routerLink="/players"
        ><div class="teams">
          <div id="names" class="card__img card__img--top">
            <img
              class="teams-image"
              src="https://phantom-marca.unidadeditorial.es/3f3a2f82b1dc14f5350c4ca8e710495b/resize/660/f/webp/assets/multimedia/imagenes/2022/02/07/16442652794299.jpg"
            />
            <span class="name"
              >Jugadores</span
            >
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
