<div class="divBanner">
  <a routerLink="/inicio"><img class="banner" src="../../../assets/banner.png" alt="NBA Players"></a>
  
</div>



<div class="filter">
  <mat-form-field appearance="fill" class="selector">
    <mat-label>Select year</mat-label>
    <mat-select name="year" [(ngModel)]="yearSelected" (selectionChange)="filterByYear(numPages, yearSelected)">
      <mat-option *ngFor="let year of yearList" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>



  <div class="display-cards">
    <div *ngFor="let team of teamList" class="example-5 alternate-card">
      <div class="wrapper">
        <img [src]="getPhoto(team)" alt="" style="width: 100%;">
        <div class="data">
          <div class="content">
            <h1 class="title" style="text-decoration: solid;">{{team.fullName}}</h1>
            <h3><u>Description</u></h3>
            <h4>City: {{team.city}}</h4>
            <h4>Full name: {{team.fullName}}</h4>

            <h2><a [routerLink]="['/teams', team.teamId]">View Players</a></h2>

            <app-players-of-a-team [team] = "team"></app-players-of-a-team>

          </div>
        </div>
      </div>
    </div>
  </div>